html {
    background-image: url("assets/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "m6x11Plus";
    src: url("assets/m6x11plus.ttf") format('truetype');
}

body {
    margin: 0;
    user-select: none;
    font-family: "m6x11Plus";
}

