/* Variables */

:root {

    --white: #ffffff;
    --black: #3a5055;
    --grey: #b1b1b1;

    --background-dark: #3a5055;
    --background-darker: #1e2b2d;

    --border-color: #b9c2d2;
    --shadow: #1e2e32;

    --red: #ff4c40;
    --blue: #0093ff;
    --yellow: #f5b244;
    --green: #35bd86;
    --orange: #ff8f00;

    --heart: #fa2315;
    --club: #0081e6;
    --diamond: #e18400;
    --spade: #3a17b2;

    --tarot: #9e74ce;
    --planet: #00a7ca;
    --spectral: #2e76fd;

    --legendary: #ab5bb5;
    --voucher: #ff5611;
    --booster: #525db0;
    --enhancement: #757cdc;

    --gold-seal: #eaba44;
    --purple-seal: #7b559c;

    --back: #ff9800;

    --popup-background: #3f4a4d;
    --popup-border: #dee2ea;
    --popup-mini-background: #677b7e;

}

/* Global */

html {
    background-image: url("assets/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "m6x11Plus";
    src: url("assets/m6x11plus.ttf") format('truetype');
}

body {
    margin: 0;
    user-select: none;
    font-family: "m6x11Plus";
    /* letter-spacing: 1px; */
    color: var(--white);
    font-size: 24px;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    display: flex;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

#headerContent {
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 12px;
    background-color: var(--black);
}

.headerButton {
    text-transform: uppercase;
    font-size: 40px;
    width: 200px;
    height: 80px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.headerButton:hover {
    cursor: pointer;
}

#buttonCollection {
    background-color: var(--blue);
}

#buttonCalculator {
    background-color: var(--red);
}

header .imgLogo {
    width: 200px;
    height: 80px;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 12px;
}

footer .imgLogo {
    width: 200px;
    height: 80px;
}

.imgFooter {
    width: 32px;
    height: 32px;
    background-color: var(--white);
    border-radius: 12px;
    padding: 14px;
    box-shadow: var(--shadow) 0 4px 0 0;
    transition: 0.2s;
}

.imgFooter:hover {
    box-shadow: transparent 0 0 0 0;
    transform: translateY(4px);
}

/* Content */

/* #content {
    padding-top: 100px;
    display: flex;    
} */

nav {
    margin: 24px 0;
}

nav ul {
    gap: 12px;
    flex-wrap: wrap;
}

nav li {
    display: flex;
    gap: 12px;
}

nav li a {
    font-size: 32px;
    background-color: var(--red);
    padding: 0 32px;
    height: 60px;
    line-height: 60px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: var(--shadow) 0 4px 0 0;
    /* transition: 0.2s; */
}

nav li a:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

nav li a:active {
    box-shadow: transparent 0 0 0 0;
    transform: translateY(4px);
}

/* nav li a:active:not(:hover) {
    transform: translateY(0px);
    box-shadow: var(--shadow) 0 4px 0 0;
} */

section {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 4px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--background-dark);
}

.section ul {
    margin: 0;
    padding: 12px;
    border-radius: 12px;
    flex-direction: column;
    gap: 12px;
    background-color: var(--background-darker);
}

.section li {
    gap: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 32px;
}

.arrowPage {
    background-color: var(--red);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: var(--shadow) 0 4px 0 0;
}

.currentPage {
    background-color: var(--red);
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 12px;
    box-shadow: var(--shadow) 0 4px 0 0;
}

.arrowPage:hover, .currentPage:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.arrowPage:active {
    box-shadow: transparent 0 0 0 0;
    transform: translateY(4px);
}











.joker, .enhancement {
    width: 142px;
    height: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}



/* .joker img, .enhancement img { */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* object-fit: content; */
/* } */



#cardsData li {
    gap: 0;
    width: calc(138px * 7);
}

#cardsData .card:nth-of-type(1) {
    transform: translate(0%);
}

#cardsData .card:nth-of-type(2) {
    transform: translate(-50%);
}

#cardsData .card:nth-of-type(3) {
    transform: translate(-100%);
}

#cardsData .card:nth-of-type(4) {
    transform: translate(-150%);
}

#cardsData .card:nth-of-type(5) {
    transform: translate(-200%);
}

#cardsData .card:nth-of-type(6) {
    transform: translate(-250%);
}

#cardsData .card:nth-of-type(7) {
    transform: translate(-300%);
}

#cardsData .card:nth-of-type(8) {
    transform: translate(-350%);
}

#cardsData .card:nth-of-type(9) {
    transform: translate(-400%);
}

#cardsData .card:nth-of-type(10) {
    transform: translate(-450%);
}

#cardsData .card:nth-of-type(11) {
    transform: translate(-500%);
}

#cardsData .card:nth-of-type(12) {
    transform: translate(-550%);
}

#cardsData .card:nth-of-type(13) {
    transform: translate(-600%);
}

/* #cardsData .card:hover {
    z-index: 100;
} */



#cardsCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 48px;
    font-size: 32px;
    cursor: pointer;
}

#cardsCheckbox input {
    display: none;
}


.customCheckbox {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 12px;
    border: 4px solid var(--white);
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-darker);
}

#cardsCheckbox>input:checked ~ .customCheckbox {
    background-color: var(--red);
}

.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

#cardsCheckbox>input:checked ~ .customCheckbox:after {
    display: block;
}

#cardsCheckbox .customCheckbox:after {
    left: 12px;
    top: 2px;
    width: 12px;
    height: 24px;
    border: solid var(--white);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}



.popup {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    position: absolute;
    bottom: calc(100% + 24px);
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid var(--popup-border);
    border-radius: 12px;
    background-color: var(--popup-background);
    text-align: center;
    white-space: nowrap;
    z-index: 20;
}

.section img:hover + .popup {
    visibility: visible;
}

.joker img:hover {
    cursor: pointer;
}
  
.popupName {
    font-size: 40px;
    padding: 0 8px;
}
  
.popupText {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 4px;
    margin: 0 4px;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 60px;
    color: var(--black);
    background-color: var(--white);
}

.popupEffect {
    width: 100%;
    line-height: 26px;
}

.tagPrimary {
    font-size: 32px;
    min-width: 140px;
    height: 40px;
    padding: 0 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagSecondary {
    min-width: 140px;
    height: 30px;
    padding: 0 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card .tagSecondary {
    color: var(--black);
    background-color: var(--white);
}



.tagPrimary.tagTarot {
    background-color: var(--tarot);
}

.tagPrimary.tagPlanet {
    background-color: var(--planet);
}

.tagPrimary.tagSpectral {
    background-color: var(--spectral);
}



.common {
    background-color: var(--blue);
}

.uncommon {
    background-color: var(--green);
}

.rare {
    background-color: var(--red);
}

.legendary {
    background-color: var(--legendary);
}

.tagVoucher {
    background-color: var(--voucher);
}

.tagBooster {
    background-color: var(--booster);
}

.tagEnhancement {
    background-color: var(--enhancement);
}

.sealGold {
    background-color: var(--gold-seal);
}

.sealPurple {
    background-color: var(--purple-seal);
}



.textChip {
    color: var(--blue);
}

.textMult {
    color: var(--red);
}

.textProd {
    color: var(--white);
    background-color: var(--red);
    padding: 0 3px 1px 4px;
    border-radius: 4px;
}

.textNum {
    color: var(--orange);
}

.textMoney {
    color: var(--yellow);
}

.textProb {
    color: var(--green);
}

.textMore {
    color: var(--grey);
}
.textMini {
    font-size: 18px;
}

.textHeart {
    color: var(--heart);
}

.textClub {
    color: var(--club);
}

.textDiamond {
    color: var(--diamond);
}

.textSpade {
    color: var(--spade);
}

.textTarot {
    color: var(--tarot);
}

.textPlanet {
    color: var(--planet);
}

.textSpectral {
    color: var(--spectral);
}

.textLegendary {
    color: var(--legendary);
}

.textEnhancement {
    color: var(--enhancement);
}

.textNegative {
    animation: negative-color 6s infinite;
}

@keyframes negative-color {
    0% { color: var(--blue); }
    25% { color: var(--grey); }
    50% { color: var(--red); }
    75% { color: var(--grey); }
    100% { color: var(--blue); }
}



.negative {
    animation: negative-background 6s infinite;
}

@keyframes negative-background {
    0% { background-color: var(--blue); }
    25% { background-color: var(--grey); }
    50% { background-color: var(--red); }
    75% { background-color: var(--grey); }
    100% { background-color: var(--blue); }
}





#randNum {
    width: 20px;
    text-align: center;
    display: inline-block;
}

#randMult {
    width: 50px;
    text-align: left;
    display: inline-block;
}




.link {
    width: 100%;
    height: 48px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--back);
    box-shadow: var(--shadow) 0 4px 0 0;
}

.link:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.link:active {
    box-shadow: transparent 0 0 0 0;
    transform: translateY(4px);
}





.tarotsSlide li, .spectralsSlide li {
    display: flex;
    justify-content: center;
}







.tarot, .planet, .spectral, .seal, .edition, .voucher, .booster, .tag {
    position: relative;
}
























/* Responsive Design */

@media all and (max-width: 1080px) {






    nav ul {
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: auto;
    }



    #cardsData li {
        width: calc(69px * 7);
    }

    .joker, .enhancement {
        width: 71px;
        height: 95px;
    }

    .card, .seal, .edition {
        width: 69px;
        height: 93px;
    }

    .tarot, .planet, .spectral {
        width: 63px;
        height: 93px;
    }

    .voucher {
        width: 59px;
        height: 93px;
    }

    .booster {
        width: 57px;
        height: 93px;
    }

    .tag {
        width: 32px;
        height: 32px;
    }
    
    .joker img, .enhancement img {
        transform: scale(0.5);
    }

    .card img, .tarot img, .planet img, .spectral img, .seal img, .edition img, .voucher img, .booster img, .tag img {
        transform: scale(0.5);
        transform-origin: 0 0;
    }



}



@media all and (max-width: 570px) {



    /* nav {
        margin: 24px 0;
    } */
    
    nav ul {
        gap: 10px;
    }
    
    nav li {
        gap: 6px;
    }
    
    nav li a {
        font-size: 24px;
        padding: 0 12px;
        height: 40px;
        line-height: 40px;
    }
        


    .pagination {
        gap: 6px;
        font-size: 24px;
    }
    
    .arrowPage {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    
    .currentPage {
        width: 160px;
        height: 40px;
        line-height: 40px;
    }

    .link {
        height: 40px;
        font-size: 24px;
    }

}
