html {
    background-image: url("assets/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

